/* common css section start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

P{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    font-family: 'Abril Fatface', cursive;
}

a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* 
img{
    display: block;
} */

ul{
    list-style-type: none;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-3{
    width: calc(100% / 3);
}

.w-20{
    width: 20%;
}


.justify-content-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
/* common css section end */


/* placeholder css section start */
#placeholder{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
     position: fixed;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder .preloader h2{
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-align: center;
}

#placeholder .preloader span{
    display: inline-block;
    width: 7px;
    height: 220px;
    margin: 0 6px;
    border-radius: 10px;
    /* background: linear-gradient(red,green,blue);  */


    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    animation-name: preloader;
    animation-duration: 1s;
     animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transform-origin: center;
    /* background: radial-gradient(gray); */
    
}
#placeholder .preloader span:nth-child(2){
    animation-delay: 0s;
}
#placeholder .preloader span:nth-child(3){
    animation-delay: 0.1s;
}
#placeholder .preloader span:nth-child(4){
    animation-delay: 0.2s;
}
#placeholder .preloader span:nth-child(5){
    animation-delay: 0.3s;
}
#placeholder .preloader span:nth-child(6){
    animation-delay: 0.4s;
}
#placeholder .preloader span:nth-child(7){
    animation-delay: 0.5s;
}
#placeholder .preloader span:nth-child(8){
    animation-delay: 0.6s;
}
#placeholder .preloader span:nth-child(9){
    animation-delay: 0.7s;
}
#placeholder .preloader span:nth-child(10){
    animation-delay: 0.8s;
}
#placeholder .preloader span:nth-child(11){
    animation-delay: 0.9s;
} 



@keyframes preloader{
    from{
        transform: scale(1) rotate(0)skew(0) ;
        background: linear-gradient(red,blue,green);
    }
    To{
        transform:  scale(0) rotate(100deg) skew(20deg);
        background: radial-gradient(gray,black);
    }
}

/* placeholder css section end */
  
/* nav css section start */
nav{
    text-align: justify;
    background-color: #bfbfbf;
}

nav div.row{
    align-items: center;
}

nav .logo{
    width: 25%;
}

nav div.menu{
    width: 75%;
}

nav div .menu ul{
    justify-content: flex-end;
}

nav .menu ul li a{
    color: #222222;
    text-transform: uppercase;
    padding: 29px 20px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: 0.8s;
    position: relative;
    z-index: 1;
}

nav .menu ul li{
    position: relative;
}

nav .menu ul li #input{
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    
}

nav .menu ul li a:hover{
    color: orange;
    
}

nav .menu ul li button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 22px;
    margin-right: 10px;
    transition: 0.68s;
    color: #bfbfbf;
    border: none;
}

nav .menu ul li button:hover{
    color: grey;
    background-color: red;
}

/* nav section css end */

  /* Sidebar Section Css Start */
  #sidebar{
    background: #bfbfbf;
    width: 150px;
    padding-top: 10px;
    position: fixed;
    right: -250px;
    top: 76px;
    /* bottom: 0; */
    z-index: 999;
    transition: .67s;
    transform:  rotate(50deg) skew(50deg);
    opacity: 0;
    visibility: hidden;
    transform-origin: right top;
  }

  #sidebar ul li a{
    font-size: 20px;
    display: block;
    padding-bottom: 15px;
    font-weight: 400;
    color: black;
    transition: 0.6s;
  }

  #sidebar ul li a:hover{
    color: red;
  }
  #sidebar.active{
    right: 0px;
    transform:  rotate(0deg) skew(0deg);
    opacity: 1;
    visibility: visible;
  }
  /* //Sidebar Section Css End */




  /* show/hide css section start */

  #show_hide{
    padding: 10px;
     margin: 20px;
     font-size: 20px;
     font-weight: 400;
  }

   #div{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
   }

/* fade css section */
   #fade{
    padding: 10px;
     margin: 20px;
     font-size: 20px;
     font-weight: 400;
  }

   #div1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 10px;
   }

   /* stop css section */

   #stop,
   #start{
    padding: 10px;
     margin: 20px;
     font-size: 20px;
     font-weight: 400;
  }

   #div2{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
   }



   /* chaining css section*/

   #started{
    padding: 10px;
     margin: 20px;
     font-size: 20px;
     font-weight: 400;
  }

   #div3{
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
    margin: 10px;
   }

   